<web-app>
	<servlet>
		<servlet-name>s3</servlet-name>
		<servlet-class>Login</servlet-class>
		
		<init-param>
		        <param-name>name</param-name>
		        <param-value>admin</param-value>
		</init-param>
	       	<init-param>
	       		<param-name>password</param-name>
		        <param-value>password</param-value>
       		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>s3</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
</web-app>